In [5]:
import pandas as pd

In [6]:
input_path = "../data/patient_friendly_terms.csv"

In [7]:
df = pd.read_csv(input_path)

In [8]:
df.head()

                     name      code
0        Abdomen enlarged  10000045
1      Abdominal bloating  10048746
2        Abdominal cramps  10000057
3  Abdominal crampy pains  10000058
4    Abdominal discomfort  10000059

In [10]:
df.shape[0]

1440

In [23]:
queryLenList = [0, 0, 0]
for name in df.name:
    word_cnt = len(name.split())
    if word_cnt == 1:
        queryLenList[0] += 1
    elif word_cnt == 2:
        queryLenList[1] += 1
    elif word_cnt == 3:
        queryLenList[2] += 1

In [24]:
queryLenList

[309, 804, 283]

In [18]:
per = [round((cnt/1440)*100, 2) for cnt in queryLenList]
per

[21.46, 55.83, 22.71]

In [25]:
input_path_2 = "../data/UMLSConceptsREALLYfaulty15thApril.csv"

In [28]:
df = pd.read_csv(input_path_2)

In [35]:
df.columns

Index(['name', 'code', 'ngram', 'cui', 'term', 'term_word_count',
       'term_extract_sum', 'name_word_cnt', 'problematic'],
      dtype='object')

In [36]:
groups = df.groupby('code')

In [38]:
probleMaticQueries = 0
for a, b in groups:
    probleMaticQueries += 1
print(probleMaticQueries)

210

In [39]:
print(round(100*(210/1440), 2))

14.58

In [58]:
df = pd.read_csv("../data/UMLSConceptsAppended.csv")
print(df.shape)

(1917, 6)

In [59]:
df.columns

Index(['name', 'code', 'ngram', 'cui', 'term', 'semtype'], dtype='object')

In [61]:
totWordsExtracted = df.shape[0]
totWordsExtracted

1917

In [62]:
groups = df.groupby('semtype')

In [63]:
semToCount = {}
for a, b in groups:
#     print(a, b.shape[0])
    semToCount[a] = b.shape[0]

In [64]:
import operator

In [65]:
sorted_x = sorted(semToCount.items(), key=operator.itemgetter(1))

In [66]:
for x in sorted_x:
    print(x[0], round(100*(x[1]/totWordsExtracted), 2))

{'T060'} 0.05
{'T123'} 0.05
{'T129'} 0.05
{'T130'} 0.05
{'T197'} 0.1
{'T109'} 0.21
{'T059'} 0.26
{'T058'} 0.31
{'T114'} 0.42
{'T116'} 0.42
{'T074'} 0.47
{'T039'} 0.68
{'T201'} 0.83
{'T121'} 1.2
{'T061'} 1.77
{'T191'} 1.83
{'T170'} 2.03
{'T040'} 2.14
{'T031'} 2.97
{'T029'} 3.18
{'T037'} 3.5
{'T041'} 3.5
{'T048'} 3.96
{'T046'} 6.0
{'T023'} 12.36
{'T047'} 14.87
{'T033'} 17.58
{'T184'} 19.2